<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.business_description }}">

	<link rel="shortcut icon" href="{{ site.business_icon | relative_url }}">

	<!-- Smart business Banner -->
	{% if site.enable_smart_business_banner %}
		<meta name="business" content="business-id={{ site.business_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://kit.fontawesome.com/ef51d949d2.js" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>
